body{
background:#111;
color:white;
text-align:center;
}

main{
width:90%;
max-width:500px;
margin:auto;
}

.botao{
display:block;
background:#ffb000;
color:black;
padding:18px;
margin:15px 0;
border-radius:12px;
}