/* ===== GERAL ===== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#121212;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
}

/* ===== TÍTULOS ===== */

h2{
color:#ffb300;
margin:20px 15px 10px;
font-size:28px;
}

.categoria{
color:#ffb300;
font-size:22px;
font-weight:bold;
margin:20px 15px 10px;
}

/* ===== LISTA ===== */

.produtos{
display:flex;
flex-direction:column;
gap:12px;
padding:15px;
}

/* ===== CARD ===== */

.card{
display:flex;
align-items:center;
gap:15px;
background:#1f1f1f;
border-radius:12px;
padding:12px;
width:100%;
transition:.2s;
}

.card:hover{
background:#292929;
}

/* ===== FOTO ===== */

.card img{
width:95px;
height:95px;
border-radius:10px;
object-fit:cover;
flex-shrink:0;
}

/* ===== INFORMAÇÕES ===== */

.info{
display:flex;
flex-direction:column;
justify-content:center;
flex:1;
}

.info h3{
color:#fff;
font-size:18px;
margin-bottom:8px;
}

.preco{
color:#ffb300;
font-size:20px;
font-weight:bold;
}

/* ===== CELULAR ===== */

@media(max-width:480px){

.card{
padding:10px;
}

.card img{
width:85px;
height:85px;
}

.info h3{
font-size:16px;
}

.preco{
font-size:18px;
}

}